/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* IMPORT PRIORITAIRE */

@import url('./variables.css');


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* IMPORT POUR LES COMPOSANTS */

@import url('./components/buttons.css');
@import url('./components/exo.css');
@import url('./components/form.css');
@import url('./components/modal.css');
@import url('./components/navigation.css');


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* IMPORT POUR LES PAGES */

@import url('./pages/form.css');
@import url('./pages/home.css');


/* ================================================================================================================================= */
/* --------------------------------------------------------------------------------------------------------------------------------- */
/* AUTRE */

@import url('./others/text.css');



/* ========================================================================================================================= */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* GENERAL */

* {
    font-family: var(--main-font);
    font-size: 1.1rem;
    color: var(--first-color);
}

body {
    background-image: var(--background);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

main {
    margin-top: 15vh;
}

::-webkit-scrollbar {
    width: 0.9em;
    background-color: var(--first-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border: var(--first-border-solid);
}