/* ========================================================================================================================= */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* TEXTES */

h1 {
    background-color: var(--third-color);
    border: var(--second-border-medium-solid);
}

h1, h2, legend {
    font-family: var(--special-font);
}