/* ========================================================================================================================= */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* BLOCS */

.main-container {
    background-color: var(--first-filter-color);
    min-height: 80vh;
    width: 90%;
}

.result-container {
    background-color: var(--second-filter-color);
    width: 90%;
}

.before-exo {
    background-color: var(--third-color);
    border: var(--first-border-solid);
}

.exo {
    background-color: var(--second-color);
    border: var(--first-border-strong-solid);
}

.title-result {
    background-color: var(--first-color);
    color: var(--third-color);
    border: var(--third-border-solid);
}

.result-exo {
    background-color: var(--first-color);
    color: var(--third-color) !important;
    border: var(--third-border-medium-solid);
}

.result-exo h2, .result-exo .result, .result-text {
    color: var(--third-color);
}

article {
    height: 100%;
}

.code {
    background-color: var(--first-color);
}


/* ========================================================================================================================= */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media screen and (min-width: 768px) {
    .exo {
        box-shadow: var(--box-shadow);
    }
}