/* ========================================================================================================================= */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* BLOCS */

.main-container {
    background-color: var(--first-filter-color);
    min-height: 80vh;
    width: 90%;
}

.result-container {
    background-color: var(--second-filter-color);
    width: 90%;
}

.exo {
    background-color: var(--second-color);
    border: var(--first-border-strong-solid);
}

article {
    height: 100%;
}


/* ========================================================================================================================= */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media screen and (min-width: 768px) {
    .exo {
        box-shadow: var(--box-shadow);
    }
}