
/* ========================================================================================================================= */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* MODALS */

dialog {
    background-color: var(--second-color);
}

dialog::backdrop {
    background-color: #f3eff896;
}


dialog::-webkit-scrollbar {
    width: 0.7em;
    background-color: var(--first-color);
}

dialog::-webkit-scrollbar-thumb {
    background-color: var(--fourth-color);
    border: var(--first-border-solid);
}


/* ========================================================================================================================= */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

@media screen and (min-width: 1200px) {
    dialog {
        max-width: 60vw;
    }
}